/*
    HEADER
*/
header{
    height: 75px;

    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-black);

    text-transform: uppercase;
}
/*
    /HEADER
*/


/*
    JUMBO
*/
.jumbo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbo img{
    width: 250px;
}

.jumbo>*{
    padding-bottom: 10px;
}

/*
    /JUMBO
*/


/*
    MAIN
*/
section{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
}

/* SECTION PORTFOLIO */
#portfolio img{
    width: 400px;
    padding: 12px;
    border-radius: 20px;
}

/* SECTION ABOUT */
#about button:hover{
    background-color: white;
}

#about button:hover i,
#about button:hover span{
    color: black;
}

/* SECTION CONTACT ME */
#contact .form{
    width: 100%;
}

#contact input,
#contact textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;

    padding: 10px 0;
}

#contact input:nth-child(4){
    height: 200px;
}

input:placeholder-shown{
    color: black;
    text-align: start;
}

#contact .my-btn{
    color: white;
    background-color: var(--bg-green);
}

#contact .my-btn:hover{
    background-color: rgb(31, 131, 107);
}
/*
    /MAIN
*/


/*
    FOOTER
*/
.footer-down{
    justify-content: center;
    align-items: center;
}

.footer-up{
    padding: 50px 0 30px;
}

.my-icon-container{
    width: 30px;
    height: 30px;
    margin: 0 2%;
    border: 1px solid white;
    border-radius: 50%;
}

#green-link{
    color: var(--bg-green);
}

.footer-down{
    padding: 30px 0 15px
}
/*
    /FOOTER
*/