/* Impaginazione */
.position-relative{
    position: relative;
}

.flex-static{
    flex-shrink: 0;
}

.my-white-bold{
    color: white;
    font-weight: 600;
}

/* Colori background */
.my-bg-black{
    background-color: var(--bg-black);
}
.bg-green{
    background-color: var(--bg-green);
}
.bg-blue{
    background-color: var(--bg-blue);
}

/* Debug */
/* .debug{
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid white;
} */

.h100{
    height: 100px;
}
.h300{
    height: 300px;
}
.h500{
    height: 500px;
}