/* Impaginazione */
.my-bold{
    font-weight: 600;
}

.my-container{
    width: 70vw;
    justify-self: center;
    align-self: center;
}

.my-btn{
    border: 1px solid white;
    border-radius: 5px;

    margin-top: 20px;
}

/* Colori background */
.my-bg-black{
    background-color: var(--bg-black);
}
.bg-green{
    background-color: var(--bg-green);
}
.bg-blue{
    background-color: var(--bg-blue);
}

/* Debug */
/* .debug{    background-color: rgba(0, 255, 0, 0.2);    border: 1px solid white;} */