/* Impaginazione */
.position-relative{
    position: relative;
}

.my-bold{
    font-weight: 600;
}

.my-container{
    width: 70vw;
    margin: 0 auto;
}

.my-btn{
    border: 1px solid white;
    border-radius: 5px;

    margin-top: 20px;
}

.space{
    padding: 12px;
}

/* Colori background */
.my-bg-black{
    background-color: var(--bg-black);
}
.bg-green{
    background-color: var(--bg-green);
}
.bg-blue{
    background-color: var(--bg-blue);
}

/* Debug */
.h500{
    height: 500px;
}